<h1>{{ name }}</h1>

<p>
  <strong>Objective</strong>: you should be able to <strong>add</strong> and
  <strong>remove</strong> items to/from the shortlist. The changes are expected
  to be rendered immediately after the shortlist changes. Additionally, you
  should be able to push more mocked search results to the list while preserving
  the state of the shortlisted items. Note some of the extra mocked results are
  already shortlisted for demonstration purposes and should be rendered
  accordingly.
</p>

<app-search-results></app-search-results>
